
<div class="banner">

  <div class="htwo">
    <h1>Results are in!</h1>

    <h2>Your score is  <%= @score %>! </h2>

    <h3><%= @message %></h3>


    <%= link_to "Play Again!", new_path  %>
  </div>
</div>
